body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.left-side, .right-side {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

.left-side {
    max-width: 60%;
}

.right-side {
    max-width: 35%;
    text-align: center;
}

.id-photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

#contactInfo {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

p {
    color: #555;
    line-height: 1.6;
}

nav {
    overflow: hidden;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: rgb(7, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0cadde;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.skewed-button {
    background: linear-gradient(45deg, black, grey);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    transform: skew(-20deg);
    transition: background 0.3s;
}

.skewed-button:hover {
    background: linear-gradient(45deg, grey, black);
}

.hidden {
    display: none;
}

#congratulationsMessage {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .left-side, .right-side {
        max-width: 100%;
    }

    .id-photo {
        width: 150px;
        height: 150px;
    }
}
